export VERBOSE=1
## What we use internally
#PREFIX        = /opt/pacbio
#WORKDIR       = /media/ssd_drive/pf/workspace
#HAVE_CCACHE   = /opt/software/c/ccache/3.2.3/bin/ccache
#HAVE_ZLIB     = /opt/software/z/zlib/1.2.8-cloudflare
#
bam2fastx_VERSION        = smrtlink-5.0.0
GenomicConsensus_VERSION = smrtlink-5.0.0
pbcopper_VERSION         = smrtlink-5.0.0
seqan_VERSION            = smrtlink-5.0.0
unanimity_VERSION        = smrtlink-5.0.0
blasr_VERSION            = smrtlink-5.0.0
blasr_libcpp_VERSION     = smrtlink-5.0.0
pbfalcon_VERSION         = smrtlink-5.0.0
falcon_polish_VERSION    = smrtlink-5.0.0
kineticsTools_VERSION    = smrtlink-5.0.0
pbalign_VERSION          = smrtlink-5.0.0
pbcommand_VERSION        = smrtlink-5.0.0
pbcoretools_VERSION      = smrtlink-5.0.0
pbdagcon_VERSION         = smrtlink-5.0.0
pbreports_VERSION        = smrtlink-5.0.0
pbsmrtpipe_VERSION       = smrtlink-5.0.0
pbtranscript_VERSION     = smrtlink-5.0.0
pbcore_VERSION           = smrtlink-5.0.0
ConsensusCore_VERSION    = smrtlink-5.0.0
htslib_VERSION           = smrtlink-5.0.0
pbbam_VERSION            = smrtlink-5.0.0
daligner_VERSION         = smrtlink-5.0.0
damasker_VERSION         = smrtlink-5.0.0
dazzdb_VERSION           = smrtlink-5.0.0
dextractor_VERSION       = smrtlink-5.0.0
falcon_kit_VERSION       = smrtlink-5.0.0
pypeFLOW_VERSION         = smrtlink-5.0.0
bax2bam_VERSION          = smrtlink-5.0.0
#
## Contributed by @cwarden45 (with ccache, boost, and hdf5 installed via osx homebrew) 
#PREFIX      = /opt/pacbio
#WORKDIR     = /opt/pitchfork
#HAVE_PYTHON = /usr/local/bin/python
#HAVE_CMAKE  = /usr/local/bin/cmake
#HAVE_CCACHE = /usr/local/Cellar/ccache/3.2.3/bin/ccache
#HAVE_BOOST  = /usr/local/Cellar/boost/1.60.0_1/include
#HAVE_HDF5   = /usr/local/Cellar/hdf5/1.8.16_1
##             For OSX, ZLIB can be installed to /usr via xcode-select --install
#HAVE_PYTHON   = /opt/python-2.7.9/bin/python
#HAVE_OPENBLAS = /opt/software/o/openblas/0.2.14
#HAVE_BOOST    = /opt/software/b/boost/1.58
#HAVE_CMAKE    = /opt/software/c/cmake/3.2.2/bin/cmake
#HAVE_HDF5     = /opt/software/h/hdf5-tools/1.8.12
# vim: ft=make
